src/myctca.xcodeproj/xcuserdata/mkambale.xcuserdatad/xcschemes/xcschememanagement.plist
src/myctca.xcworkspace/xcuserdata/mkambale.xcuserdatad/UserInterfaceState.xcuserstate
src/myctca.xcworkspace/xcuserdata/mkambale.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
src/Pods/Pods.xcodeproj/xcuserdata/mkambale.xcuserdatad/xcschemes/xcschememanagement.plist
